*.Rproj
.Rproj.user/
.Rhistory
.RData
.Ruserdata
.quarto/
.Renviron
/.quarto/
learning-statistics-with-jamovi.tex
termout.txt
docs/**
*.log
*.aux
*.tex
*.toc
*.typ
sec-*_files/
data-raw/*.zip
images/fig-national-*.png

**/*.quarto_ipynb

.vscode/
tmp/
.claude/settings.local.json

/.luarc.json
